<h1>All Notes</h1>
<h3><%= link_to "New Note", new_note_path %></h3>
<p>Below is a list of all the notes</p>
<ul>
<h3>
<% @notes.each do |note|%>
<li><%= link_to note[:title], note_path(note)%>
    <ul>
        <li><%= link_to "Edit", edit_note_path(note) %></li>
        <li><%= link_to "Delete", note_path(note), method: :delete%></li>
    </ul>
</li>
<% end %>
</ul>
</h3>
